<h1>Change Password</h1>

<% if flash[:error] %>
	<h3 style="color: red;"><%= flash[:error] %></h3>
<% end %>

<%= form_for @person, :url => "/people/#{@person.id}/update_password" do |f| %>
<table>
	<tr>
		<td><%= label_tag :old, "Current Password" %></td>
		<td><%= f.password_field :old_password %></td>
	</tr>
	
	<tr>
		<td><%= label_tag :new, "New Password" %></td>
		<td><%= f.password_field :password %></td>
	</tr>
	
	<tr>
		<td><%= label_tag :confirm, "Confirm Password" %></td>
		<td><%= f.password_field :confirm %></td>
	</tr>
	
	<tr>
		<td><%= f.submit "Change Password" %></td>
	</tr>
</table>

<% end %>
