<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Username:</b>
  <%= @person.username %>
</p>

<p>
  <b>Password:</b>
  <%= @person.password %>
</p>

<%= link_to 'List People', people_path %>
