<h1>New Credit Account</h1>

<%= render :partial => "/layouts/flash_display.html"%>

		<%= render :layout => '/accounts/form_for_new.html' do |f| %>
			<div class="field">
				<%= label_tag "Credit Limit", "Credit Limit" %><br />
				<%= f.text_field :min_balance %>
			</div>
		<% end %>

		<%= link_to 'Back', "/admin/account_list" %>


<style type="text/css">

table td {
	vertical-align: top;
}

</style>