<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% elsif flash[:notice] %>
    <div id="notice">
      <h4><%= flash[:notice] %></h4>
    </div>
  <% elsif flash[:error] %>
    <div id="error">
      <h4><%= flash[:error] %></h4>
    </div>
  <% end %>

  <table>
  	<tr>
  	  <td>
  	    <div class="field">
          <%= f.label :date %><br />
          <%= f.text_field :date, :class => "date_popup", :value => @transaction.date.to_s %>
        </div>
      </td>
  	  <td>
        <div class="field">
          <%= f.label :description %><br />
          <%= f.text_field :description %>
        </div>
      </td>
      <td>
        <div class="field">
    	  <%= f.label :amount %><br />
    	  $<%= f.text_field :amount, :value => Format.to_2f(@transaction.amount) %>
  		</div>
  	  </td>
    </tr>

    <tr>  
      <td>
        <div class="field">
          <%= f.label :category %>
          <%= f.select( 
              	:category_id, 
              	Category.where(:kind => @transaction.type).map {|cat| [cat.name, cat.id]},
              	:selected => @transaction.category_id ? @transaction.category_id : current_user.profile.categories.where(:kind => @transaction.type).first.id ) %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :account %>
          <%= f.select(
                :account_id,
                current_user.accounts.map {|account| [account.name, account.id]},
                :selected => @transaction.account_id ? @transaction.account_id : current_user.default_account.id)%>
        </div>
      </td>
      <td>
        <div class="actions">
          <%= f.submit %>
        </div>
      </td>
    </tr>
  </table>
<% end %>

